# ==============================================================================
# LINGUISTIC ALIGNMENT
# Enforcing strict CRLF -> LF conversions because Windows line endings are an 
# evolutionary mistake that must be eradicated from the timeline.
# ==============================================================================
* text=auto eol=lf

# The Wasm artifacts are binary. Do not try to read them. Do not try to merge them.
*.wasm binary